.home-content {
    display: grid;

    justify-items: center;

    & h2 {
        align-self: center;
        font-size: 2rem;
    }

    & p {
        font-size: 1.2rem;
        text-align: center;

        &+p{
            margin-top: 0;
        }
    }

    & img {
        width: 500px;
        border-radius: 10px;
    }
}